﻿body {
    font-family: 'Raleway', sans-serif;
    background-image:url('./Images/Background1.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
a{
    color:rosybrown;
}
.navbar-brand{
    font-size: larger;
    font-weight:700;
}
.nav-link {
    font-size: small;
    font-weight: 700;
}
.hero-content {
    font-family: Algerian;
    font-weight: 900;
}
    .hero-content h4 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900;
    }
    .hero-content p {
        font-family: 'Nirmala UI';
        font-weight: 700;
    }
.hero-mar{
    margin-top: 8rem;
}
.place{
   float:left;
   
}
.b-clr{
    background-color:aquamarine;
    border: 2px solid black;
}
