﻿body {
    margin: 0;
    padding: 0;
    background-color: #caebf2;
    color: #001f3f;
}
h1, h2, h3, h4 {
    font-family: 'Roboto Mono', monospace;
}

.container {
    max-width: 840px;
    margin: 0 auto;
}
    .container > div {
        margin: 20px auto;
    }

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.intro{
    text-align:center;
}
.about-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}
@media (max-width: 480px) {
    .about-grid {
        grid-template-columns: 100%;
    }
}

.i-am, .i-like {
    text-align: center;
    text-decoration: none
}
.about-list {
    list-style: none;
    padding: 0;
}
.project-heading {
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}
.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    transition: all ease-in-out .2s;
}
.profile-image:hover {
    box-shadow: 0 8px 12px 0 rgba(34,60,80,.16);
}
.project-image {
    justify-self: center;
    width: 300px;
    height: 300px;
    padding: 4%;
}
.project-image:hover{
    border:dashed 2px;

}

@media (max-width: 650px) {
    .project-grid {
        grid-template-columns: 100%;
    }
}
.links-and-contact {
    display: grid;
    grid-template-columns: 30% 70%;
   
}

.links {
    justify-self: center;
}

.links-list {
    list-style: none;
    padding: 0;
}

@media (max-width: 650px) {
    .links-and-contact {
        grid-template-columns: 100%;
    }
}
form input, textarea {
    padding: 5px;
    border-radius: 5px;
    width:250px;
    
}
form {
    width: 250px;
    margin: 0 auto;
   
}

form input[type="submit"] {
        width: 265px;
    }

.submit-button-wrapper {
    margin: 20px 0;
}

@media (max-width: 480px) {
    .about-grid {
        grid-template-columns: 100%;
    }
}

@media (max-width: 650px) {
    .projects-grid {
        grid-template-columns: 100%;
    }

    .links-and-contact {
        grid-template-columns: 100%;
    }
}