﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Usama Umer</title>\
    <link rel="stylesheet" href="Style.css" />
   
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">

        <div class="intro">
            <img class="profile-image" src="Usama.jpg" />
            <h1>Usama Umer</h1>
            <h3>Web Developer</h3>
            <p>{{ Pause and ponder }}</p>
        </div>
        <hr />
        <div class="about-grid">
            <div class="i-am">
                <h3>I am Usama Umer</h3>
                <ul class="about-list">
                    <li>An engineer</li>
                    <li>A reader</li>
                    <li>A hobby cook</li>
                </ul>
            </div>
            <div class="i-like">
                <h3>I like to</h3>
                <ul class="about-list">
                    <li>Meet new people</li>
                    <li>Play guitar</li>
                    <li>Eat Icecream</li>
                </ul>
            </div>

        </div>
        <hr />
        <div>
            <h3 class="project-heading">My Projects</h3>
            <div class="project-grid">

                <img class="project-image" src="1.JPG" />
                <img class="project-image" src="2.jpg" />
                <img class="project-image" src="3.jpg" />
                <img class="project-image" src="4.jpg" />
            </div>
        </div>
        <hr />
        <div class="links-and-contact">
            <h3 class="links">Links</h3>
            <ul class="links-list">
                <li>
                    <a href="https://facebook.com/usamaumer971">FackBook</a>
                </li>
                <li>
                    <a href="https://twitter.com/UsamaUmer971">Twitter</a>
                </li>

            </ul>
            <div>
                <form action="#">
                    <label for="email">
                        Email: <input type="email" id="email" placeholder="Enter your email" />
                    </label>
                    <label for="message">
                        Message: <textarea id="message">Your Message</textarea>
                    </label>

                    <div class="submit-button-wrapper">
                        <input type="submit" valid="Send Message" id="btn" />
                    </div>
                </form>
            </div>
        </div>
        <hr />
    </div>
    <script src="script.js"></script>
</body>

</html>